body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
    color: #333;
}

:root {
    --main-color: #F07635;
    --side-color: #C5774C;
    --third-color: #705C51;
    --background-color: #332B26;
    --border-color: #C5774C;
}

header, section, footer {
    margin: 20px auto;
    width: 80%;
    max-width: 960px;
}

header {
    text-align: center;
    padding: 1px 0 1px 0;
    background-color: var(--third-color);
    width: 25%;
    border-radius: 30px;
    border: solid 1px var(--border-color);
    color: var(--main-color);
}

h1 {
    color: var(--main-color);
}

h2 {
    border-bottom: 2px solid var(--side-color);
    padding-bottom: 5px;
}

section {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    border: 1px solid var(--border-colorred);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.986);
    margin-bottom: 20px;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: var(--side-color);
    color: #fff;
}

#idiomas {
    background-color: #f4f4f4;
    padding: 20px;
}

.languages-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.language {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    width: 43%;
    text-align: center;
}

.language:hover{
    background-color: var(--main-color);
    box-shadow: 0 4px 8px rgba(0,0,0,0.5);
    width: 44%; /* Ajuste según necesidad */
    color: white;
    transition: 0.25s;
}

.language span {
    font-size: 50px;
    margin-bottom: 10px;
}


#informatica {
    background-color: #f4f4f4;
    padding: 20px;
}

.skills-container {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.skill {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    width: 180px;
    text-align: center;
}

.skill:hover {
    background-color: var(--main-color);
    box-shadow: 0 4px 8px rgba(0,0,0,0.5);
    width: 210px; /* Ajuste según necesidad */
    color: white;
    transition: 0.25s;
}

.skill span {
    font-size: 50px;
    margin-bottom: 10px;
}

#experiencia {
    background-color: #f4f4f4;
    padding: 20px;
}

.experience-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
}

.job {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    width: 90%; /* Ajusta según necesidad */
    text-align: center;
    justify-content:space-around;
}

.job:hover{
    background-color: var(--main-color);
    box-shadow: 0 4px 8px rgba(0,0,0,0.5);
    width: 93%; /* Ajuste según necesidad */
    color: white;
    transition: 0.25s;
}

.job span {
    font-size: 50px;
    margin-right: 20px;
}

#formacion-reglada {
    background-color: #f4f4f4;
    padding: 20px;
}

.education-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
}

.degree {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    width: 250px; /* Ajuste según necesidad */
    text-align: center;
}

.degree:hover{
    background-color: var(--main-color);
    box-shadow: 0 4px 8px rgba(0,0,0,0.5);
    width: 300px; /* Ajuste según necesidad */
    color: white;
    transition: 0.25s;
}

.degree span {
    font-size: 50px;
    margin-bottom: 10px;
}

#competencias {
    background-color: #f4f4f4;
    padding: 20px;
}

.competencias-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.competencias {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    width: 90%; /* Ajuste según necesidad */
    text-align: center;
}

.competencias:hover {
    background-color: var(--main-color);
    box-shadow: 0 4px 8px rgba(0,0,0,0.5);
    width: 93%; /* Ajuste según necesidad */
    color: white;
    transition: 0.25s;
}

.competencias span {
    font-size: 50px;
    margin-bottom: 10px;
}

.priority{
    order: -1;
}

.native{
    width: 90%;
}

.native:hover{
    background-color: var(--main-color);
    box-shadow: 0 4px 8px rgba(0,0,0,0.5);
    width: 93%; /* Ajuste según necesidad */
    color: white;
    transition: 0.25s;
}